#Limpieza de datos
William Andres Talero Bermudez
Juan Sebastian Velasquez Castañda

#*Importar librerias*

In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None) #Mostrar todas las columnas

#*Importar datos*

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
df_extranjeros = pd.read_csv('/content/drive/MyDrive/Base_Proyecto/Entradas_de_extranjeros_a_Colombia.csv', 
                 sep = ',',
                 thousands=',', decimal='.',
                 skip_blank_lines=True,
                 low_memory = False)
df_extranjeros

,Año,Mes,Nacionalidad,Codigo Iso 3166,Femenino,Masculino,Indefinido,Total,Latitud - Longitud
0,2012,Enero,Islas Alboran y Perejil,99999,1,0,NaN,1,"(4.697144,-74.140516)"
1,2012,Enero,Albania,8,1,2,NaN,3,"(4.697144,-74.140516)"
2,2012,Enero,Alemania,276,11,16,NaN,27,"(-4.197703,-69.941278)"
3,2012,Enero,Alemania,276,1,1,NaN,2,"(0.25129,-76.875963)"
4,2012,Enero,Alemania,276,63,102,NaN,165,"(0.814836,-77.662532)"
...,...,...,...,...,...,...,...,...,...
112288,2021,Diciembre,Anguila/Territorio Británico de Ultramar,660,0,1,NaN,1,"(3.541112,-76.384584)"
112289,2021,Diciembre,Anguila/Territorio Británico de Ultramar,660,1,1,NaN,2,"(4.697144,-74.140516)"
112290,2021,Diciembre,Islas Turcas y Caicos/Territorio Británico de ...,796,0,2,NaN,2,"(10.445761,-75.516429)"
112291,2021,Diciembre,Desconocido,99999,31,41,NaN,72,"(4.697144,-74.140516)"
112292,2021,Diciembre,Desconocido,99999,0,2,NaN,2,"(7.818934,-72.453226)"

In [ ]:
df_extranjeros.dtypes

Año                     int64
Mes                    object
Nacionalidad           object
Codigo Iso 3166         int64
Femenino                int64
Masculino               int64
Indefinido            float64
Total                   int64
Latitud - Longitud     object
dtype: object

#*Agregar 2 nuevas variables: Continente y Ciudad*

## *Ciudad*

In [5]:
df_extranjeros['Ciudad']=df_extranjeros["Latitud - Longitud"]

#Ciudades principales

In [6]:
df_extranjeros['Ciudad']=df_extranjeros["Ciudad"].replace(["(4.697144,-74.140516)","(6.171601,-75.427454)","(7.818934,-72.453226)","(7.916725,-72.462544)","(7.088729,-70.740253)","(10.445761,-75.516429)","(10.408582,-75.538003)","(0.814836,-77.662532)","(0.25129,-76.875963)","(3.541112,-76.384584)"],["Bogotá","Medellin","Cúcuta","Cúcuta","Cúcuta","Cartagena","Cartagena","Pasto","Pasto","Cali"])

In [7]:
(df_extranjeros 
  .groupby("Ciudad")
  .agg(frequency=("Total", "sum")))

                         frequency
Ciudad
(-0.193180,-74.784874)        1697
(-4.197703,-69.941278)       54947
(-4.223468,-69.945098)       12683
(0.812436,-77.847006)          878
(1.397318,-77.290564)           29
(1.812361,-78.751529)           10
(1.813928,-78.763924)        12258
(10.433609,-73.247863)         420
(10.886611,-74.776708)      324134
(10.971302,-74.765397)        5528
(11.117806,-74.232622)        2407
(11.247723,-74.213989)        9348
(11.360009,-72.129330)      836902
(11.528919,-72.919681)        3903
(12.165168,-71.983761)         161
(12.2205723,-71.989035)          2
(12.5744111,-81.703935)       4255
(12.586067,-81.702563)      261189
(13.3387613,-81.372937)       2435
(2.947286,-75.29321)             9
(3.866713,-67.927521)         3833
(3.893038,-77.067921)         3972
(4.077098,-73.565239)            1
(4.16909,-73.612469)            25
(4.253669,-74.642361)          248
(4.452882,-75.766298)        42345
(4.815061,-75.736532)        85200
(6.17134,-75.427194)           192
(6.185799,-67.483929)        36507
(6.228046,-77.404104)          521
(7.102626,-77.762647)          677
(7.128456,-73.183637)        30661
(7.927209,-72.507910)        48000
(8.066966,-76.735404)          359
(8.36068,-72.409396)        132850
(8.635765,-77.346578)        20683
(9.402978,-75.681599)         1816
Bogotá                    14254483
Cali                        891875
Cartagena                  2017288
Cúcuta                     2343540
Medellin                   2281951
NoAplica,NoAplica              106
Pasto                       945279

#Demas Ciudades

In [8]:
df_extranjeros['Ciudad']=df_extranjeros["Ciudad"].replace(["(-0.193180,-74.784874)","(-4.197703,-69.941278)","(-4.223468,-69.945098)","(0.812436,-77.847006)","(1.397318,-77.290564)","(1.812361,-78.751529)","(1.813928,-78.763924)","(10.433609,-73.247863)","(10.886611,-74.776708)","(10.971302,-74.765397)","(11.117806,-74.232622)","(11.247723,-74.213989)","(11.360009,-72.129330)","(11.528919,-72.919681)","(12.165168,-71.983761)","(12.2205723,-71.989035)","(12.5744111,-81.703935)","(12.586067,-81.702563)","(13.3387613,-81.372937)","(2.947286,-75.29321)","(3.866713,-67.927521)","(3.893038,-77.067921)","(4.077098,-73.565239)","(4.16909,-73.612469)","(4.253669,-74.642361)","(4.452882,-75.766298)","(4.815061,-75.736532)","(6.17134,-75.427194)","(6.185799,-67.483929)","(6.228046,-77.404104)","(7.102626,-77.762647)","(7.128456,-73.183637)","(7.927209,-72.507910)","(8.066966,-76.735404)","(8.36068,-72.409396)","(8.635765,-77.346578)","(9.402978,-75.681599)"],["Putumayo","Leticia","Leticia","Cumbal","Chachagüí","Tumaco","Tumaco","Valledupar","Soledad","Barranquilla","Santa Marta","Santa Marta","Maicao","Riohacha","Uribia","Uribia","San Andres","San Andres","San Andres","Neiva","Inírida","Buenaventura","Villavicencio","Villavicencio","Nilo","Armenia","Pereira","Rionegro","Puerto Carreño","Bahía Solano","Jurado","Lebrija","San Cayetano","Apartadó","Puerto Santander","Acandí","Coveñas"])

In [9]:
(df_extranjeros 
  .groupby("Ciudad")
  .agg(frequency=("Total", "sum")))

                   frequency
Ciudad
Acandí                 20683
Apartadó                 359
Armenia                42345
Bahía Solano             521
Barranquilla            5528
Bogotá              14254483
Buenaventura            3972
Cali                  891875
Cartagena            2017288
Chachagüí                 29
Coveñas                 1816
Cumbal                   878
Cúcuta               2343540
Inírida                 3833
Jurado                   677
Lebrija                30661
Leticia                67630
Maicao                836902
Medellin             2281951
Neiva                      9
Nilo                     248
NoAplica,NoAplica        106
Pasto                 945279
Pereira                85200
Puerto Carreño         36507
Puerto Santander      132850
Putumayo                1697
Riohacha                3903
Rionegro                 192
San Andres            267879
San Cayetano           48000
Santa Marta            11755
Soledad               324134
Tumaco                 12268
Uribia                   163
Valledupar               420
Villavicencio             26

In [10]:
df_extranjeros.dtypes

Año                     int64
Mes                    object
Nacionalidad           object
Codigo Iso 3166         int64
Femenino                int64
Masculino               int64
Indefinido            float64
Total                   int64
Latitud - Longitud     object
Ciudad                 object
dtype: object

## *Continente*

In [11]:
df_extranjeros['Continente']=df_extranjeros["Nacionalidad"]

### *Africa*

In [16]:
df_extranjeros['Continente']=df_extranjeros['Continente'].replace(["Republica de Yibuti","República CentroÁfricana","Sahara Occidental/Desierto Sahara","Santo Tome y Principe","Sudan","Sudan del Sur","Tunez","Republica Democratica del Congo","Republica Del Congo","Republica Centroafricana","Niger","Mali","Sudafrica","Gabon","Camerun","Benin","Angola","Argelia","Benín","Botsuana","Burkina Faso","Burundi","Cabo Verde","Camerún","Chad","Comoras","República Del Congo","República Democrática del Congo","Costa de Marfil","Egipto","Eritrea","Etiopia","Gabón","Gambia","Ghana","Guinea","Guinea Ecuatorial","Guinea Bissau","Santa Elena, Ascensión y Tristán de Acuña","Kenia","Lesoto","Liberia","Libia","Madagascar","Malaui","Malí","Marruecos","Mauricio","Mauritania","Mayotte","Mozambique","Namibia", "Níger","Nigeria","República Centroafricana","Reunión","Rwanda","Santo Tomé y Príncipe","Senegal","Seychelles","Sierra Leona","Somalia","Sudáfrica","Sudán","Sudán del Sur","Suazilandia","Tanzania","Togo","Túnez","Uganda","Yibuti","Zambia","Zimbabue","Malawi"],["AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA","AFRICA"])

### *Asia*

In [17]:
df_extranjeros["Continente"]=df_extranjeros['Continente'].replace(["Republica Democratica Popular Lao","Libano","Kirguistan","Islas Cocos","Taiwan","Republica de Corea","Japon","Iran","Emiratos arabes","Butan","Brunei","República Democrática Popular  Lao","Afganistán","Arabia Saudita","República de Armenia","Azerbaiyán","Bangladesh","Bahréin","Myanmar","Bután","Brunei Darussalam","Camboya","Qatar","China","Corea del Norte","República de Corea","Emiratos Árabes","Filipinas","Hong Kong","India","Indonesia","Iraq","Irán","Israel","Japón","Jordania","Kazajistán","Kirguistán","Kuwait","República Democrática Popular Lao","Líbano","Macao","Malasia","Maldivas","Mongolia","Nepal","Omán","Pakistán","Palestina","República de China","Singapur","República Árabe Siria","Sri Lanka","Tailandia","República de Tayikistán","Turkmenistán","Turquía","Uzbekistán","Vietnam","República Árabe de Yemen","Taiwán","Afganistan","Bahrein","Oman","Pakistan","Papua Occidental","Republica Democratica Popular de Corea","Republica Democratica de Timor Oriental","Republica arabe Siria","Republica arabe de Yemen","Republica de Armenia","Republica de Tayikistan","Uzbekistan","Turkmenistan","Tibet/Region Autonoma de China","Territorio Britanico del Oceano indico/Territorios Britanicos de Ultramar","Territorio Británico del Océano Índico/Territorios Británicos de Ultramar","Republica Democratica Popular Lao","República Democrática de Timor Oriental","Republica Democratica Popular Lao"],["ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA","ASIA"])

### *Europa*

In [18]:
df_extranjeros["Continente"]=df_extranjeros['Continente'].replace(["Yugoslavia","Republica de Moldavia","Republica de Kosovo","Republica de Belarus","Republica Checa","Kazajistan","Kasajistan","Islas del Canal","Islas Alboran y Perejil","Islas Aland/Provincia de Finlandia","Republica de Irlanda","Turquia","Paises Bajos","Monaco","Hungria","Gibraltar/Territorio Britanico de Ultramar","Federacion de Rusia","Acrotiri y Dhekelia","Åland","Albania","Alemania","Andorra","Austria","Bélgica","República de Belarús","Bosnia y Herzegovina","Bulgaria","Santa Sede/Ciudad del Vaticano","Chipre","Croacia","Dinamarca","Eslovaquia","Eslovenia","España","Estonia","Finlandia","Francia","Georgia","Gibraltar","Grecia","Guernsey","Hungría","Irlanda","Islandia","Isla de Man","Italia","Jersey","República de Kosovo","Letonia","Liechtenstein","Lituania","Luxemburgo","Macedonia","Malta","República de Moldavia","Mónaco","Noruega","Países Bajos","Polonia","Portugal","Escocia","Gales","Inglaterra","República de Irlanda","República Checa","Rumania","Federación de Rusia","San Marino","Serbia","Suecia","Suiza","Ucrania","Montenegro","Reino Unido de Gran Bretaña e Irlanda del Norte","Azerbaiyan","Belgica","Mayotte/Colectividad Territorial Francesa","Islas Wallis y Futuna"],["EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA","EUROPA"])

### *Oceania*

In [19]:
df_extranjeros["Continente"]=df_extranjeros['Continente'].replace(["Australia","Islas Fiji","Guam","Islas Cook","Isla de Navidad","Islas Marshall","Islas Pitcairn","Islas Salomón","Micronesia","Kiribati","Nauru","Niue","Norfolk","Nueva Zelanda","Palaos","Papúa Nueva Guinea","Polinesia Francesa","Rapa Nui","Samoa Americana","Samoa","Tonga","Tuvalu","Islas Heard Y Mcdonald","Vanuatu","Wallis y Futuna","Palau","Islas Christmas","Islas Marianas del Norte","Islas Pitcairn/Territorio Britanico de Ultramar","Islas Salomon","Nueva Caledonia/Territorio frances","Papua Nueva Guinea","Polinesia Francesa/Colectividad de Ultramar Francesa","Samoa Occidental","Samoa Estadounidense/Territorio no incorporado de Estados Unidos"],["OCEANIA","OCEANIA","OCEANIA","OCEANIA","OCEANIA","OCEANIA","OCEANIA","OCEANIA","OCEANIA","OCEANIA","OCEANIA","OCEANIA","OCEANIA","OCEANIA","OCEANIA","OCEANIA","OCEANIA","OCEANIA","OCEANIA","OCEANIA","OCEANIA","OCEANIA","OCEANIA","OCEANIA","OCEANIA","OCEANIA","OCEANIA","OCEANIA","OCEANIA","OCEANIA","OCEANIA","OCEANIA","OCEANIA","OCEANIA","OCEANIA"])

### *América del Norte*

In [20]:
df_extranjeros['Continente']=df_extranjeros['Continente'].replace(["San Cristobal y Nevis","Islas Caiman/Territorio Britanico de Ultramar","Isla Wake","Isla Johnston","Guam/Territorio no incorporado de Estados Unidos","Estados Unidos de América","México","Mexico","Canadá","Anguila/Territorio Britanico de Ultramar","Antigua y Barbuda","Barbados","Bermudas/Territorio Britanico de Ultramar","Canada","Estados Unidos de America","Islas Caimán/Territorio Británico de Ultramar","Islas Midway/Territorio no incorporado de Estados Unidos","Islas Turcas y Caicos/Territorio Britanico de Ultramar","Islas Virgenes Britanicas/Territorio Britanico de Ultramar","Montserrat/Territorio Britanico de Ultramar"],["América del Norte","América del Norte","América del Norte","América del Norte","América del Norte","América del Norte","América del Norte","América del Norte","América del Norte","América del Norte","América del Norte","América del Norte","América del Norte","América del Norte","América del Norte","América del Norte","América del Norte","América del Norte","América del Norte","América del Norte"])

### *América Central*

In [21]:
df_extranjeros['Continente']=df_extranjeros['Continente'].replace(["Panama","Panamá","Nicaragua","Haiti","Honduras","Guatemala","El Salvador","Cuba","Costa Rica","Belice","Haití","Granada","Trinidad y Tobago","Aruba","Bahamas","Dominica","Islas Turcas y Caicos/Territorio Británico de Ultramar","Islas Vírgenes Británicas/Territorio Británico de Ultramar","Jamaica","Puerto Rico/Territorio de Estados Unidos","República Dominicana","San  Vicente y las Granadinas","San Cristóbal y Nevis","San Martín (Países Bajos)","Santa Lucia","Republica Dominicana","Anguila/Territorio Británico de Ultramar","Bermudas/Territorio Británico de Ultramar"],["América Central","América Central","América Central","América Central","América Central","América Central","América Central","América Central","América Central","América Central","América Central","América Central","América Central","América Central","América Central","América Central","América Central","América Central","América Central","América Central","América Central","América Central","América Central","América Central","América Central","América Central","América Central","América Central"])

### *América del Sur*

In [22]:
df_extranjeros["Continente"]=df_extranjeros['Continente'].replace(["Argentina","Bolivia","Brasil","Chile","Colombia","Ecuador","Guyana","Paraguay","Perú","Surinam","Uruguay","Venezuela","Curazao","Guayana Francesa/Departamento de Ultramar Frances","Peru"],["América del Sur","América del Sur","América del Sur","América del Sur","América del Sur","América del Sur","América del Sur","América del Sur","América del Sur","América del Sur","América del Sur","América del Sur","América del Sur","América del Sur","América del Sur"])

### *Antartida*

In [23]:
df_extranjeros["Continente"]=df_extranjeros['Continente'].replace(["Territorio Antartico Britanico/Territorio Britanico de Ultramar","Territorio Antártico Británico/Territorio Británico de Ultramar"],["Antartida","Antartida"])

### *Refugiados*

In [24]:
df_extranjeros["Continente"]=df_extranjeros['Continente'].replace(["Refugiado Otro","Republica Democratica Popular  Lao"],["Refugiado","ASIA"])

In [25]:
(df_extranjeros 
  .groupby("Continente")
  .agg(frequency=("Total", "sum")))

                   frequency
Continente
AFRICA                 36065
ASIA                  524501
América Central      1759029
América del Norte    6416722
América del Sur     11676725
Antartida                137
Desconocido            17976
EUROPA               4098685
OCEANIA               145523
Refugiado                244

# Transformacion de variables para realizar visualizaciones de series temporales y mapas

#MAPAS

## Separar Lat y longitud

In [26]:
import re

In [27]:
df_extranjeros["Latitud - Longitud"].str.split(',', expand=True)

                 0            1
0        (4.697144  -74.140516)
1        (4.697144  -74.140516)
2       (-4.197703  -69.941278)
3         (0.25129  -76.875963)
4        (0.814836  -77.662532)
...            ...          ...
112288   (3.541112  -76.384584)
112289   (4.697144  -74.140516)
112290  (10.445761  -75.516429)
112291   (4.697144  -74.140516)
112292   (7.818934  -72.453226)

[112293 rows x 2 columns]

In [28]:
name = df_extranjeros["Latitud - Longitud"].str.split(',', expand=True)
name.columns = ['Latitud', 'Longitud']

In [29]:
df_extranjeros = pd.concat([df_extranjeros, name], axis=1)
df_extranjeros

,Año,Mes,Nacionalidad,Codigo Iso 3166,Femenino,Masculino,Indefinido,Total,Latitud - Longitud,Ciudad,Continente,Latitud,Longitud
0,2012,Enero,Islas Alboran y Perejil,99999,1,0,NaN,1,"(4.697144,-74.140516)",Bogotá,EUROPA,(4.697144,-74.140516)
1,2012,Enero,Albania,8,1,2,NaN,3,"(4.697144,-74.140516)",Bogotá,EUROPA,(4.697144,-74.140516)
2,2012,Enero,Alemania,276,11,16,NaN,27,"(-4.197703,-69.941278)",Leticia,EUROPA,(-4.197703,-69.941278)
3,2012,Enero,Alemania,276,1,1,NaN,2,"(0.25129,-76.875963)",Pasto,EUROPA,(0.25129,-76.875963)
4,2012,Enero,Alemania,276,63,102,NaN,165,"(0.814836,-77.662532)",Pasto,EUROPA,(0.814836,-77.662532)
...,...,...,...,...,...,...,...,...,...,...,...,...,...
112288,2021,Diciembre,Anguila/Territorio Británico de Ultramar,660,0,1,NaN,1,"(3.541112,-76.384584)",Cali,América Central,(3.541112,-76.384584)
112289,2021,Diciembre,Anguila/Territorio Británico de Ultramar,660,1,1,NaN,2,"(4.697144,-74.140516)",Bogotá,América Central,(4.697144,-74.140516)
112290,2021,Diciembre,Islas Turcas y Caicos/Territorio Británico de ...,796,0,2,NaN,2,"(10.445761,-75.516429)",Cartagena,América Central,(10.445761,-75.516429)
112291,2021,Diciembre,Desconocido,99999,31,41,NaN,72,"(4.697144,-74.140516)",Bogotá,Desconocido,(4.697144,-74.140516)
112292,2021,Diciembre,Desconocido,99999,0,2,NaN,2,"(7.818934,-72.453226)",Cúcuta,Desconocido,(7.818934,-72.453226)

#Eliminar signos "(" y ")"

In [30]:
inputToken = '('
df_extranjeros["Latitud"] = df_extranjeros["Latitud"].str.replace(re.escape(inputToken), '')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

In [31]:
inputToken = ')'
df_extranjeros["Longitud"] = df_extranjeros["Longitud"].str.replace(re.escape(inputToken), '')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

In [32]:
df_extranjeros["Longitud"]

0         -74.140516
1         -74.140516
2         -69.941278
3         -76.875963
4         -77.662532
             ...
112288    -76.384584
112289    -74.140516
112290    -75.516429
112291    -74.140516
112292    -72.453226
Name: Longitud, Length: 112293, dtype: object

In [33]:
df_extranjeros["Latitud"]

0          4.697144
1          4.697144
2         -4.197703
3           0.25129
4          0.814836
            ...
112288     3.541112
112289     4.697144
112290    10.445761
112291     4.697144
112292     7.818934
Name: Latitud, Length: 112293, dtype: object

# Series temporales

In [34]:
df_extranjeros["Mes#"]=df_extranjeros["Mes"]

In [35]:
df_extranjeros["Mes#"]=df_extranjeros['Mes#'].replace(["Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre"],["1","2","3","4","5","6","7","8","9","10","11","12"])

In [36]:
df_extranjeros["Mes#"]=df_extranjeros["Mes#"].astype(str)

In [37]:
df_extranjeros["Año#"]=df_extranjeros["Año"].astype(str)

In [38]:
df_extranjeros["Fecha"]=df_extranjeros["Mes#"]+"-"+df_extranjeros["Año#"]+"-"+"1"

In [39]:
df_extranjeros["Fecha"]

0          1-2012-1
1          1-2012-1
2          1-2012-1
3          1-2012-1
4          1-2012-1
            ...
112288    12-2021-1
112289    12-2021-1
112290    12-2021-1
112291    12-2021-1
112292    12-2021-1
Name: Fecha, Length: 112293, dtype: object

In [40]:
df_extranjeros['Fecha'] = pd.to_datetime(df_extranjeros["Fecha"],format='%m-%Y-%d')

In [41]:
df_extranjeros['Fecha']

0        2012-01-01
1        2012-01-01
2        2012-01-01
3        2012-01-01
4        2012-01-01
            ...
112288   2021-12-01
112289   2021-12-01
112290   2021-12-01
112291   2021-12-01
112292   2021-12-01
Name: Fecha, Length: 112293, dtype: datetime64[ns]

#Dimension de los datos

In [42]:
print('Entrada de extranjeros a Colombia')
print('Filas: ', df_extranjeros.shape[0])
print('Columnas: ', df_extranjeros.shape[1])

Entrada de extranjeros a Colombia
Filas:  112293
Columnas:  16

#Atributo y tipos de atributo

In [43]:
df_extranjeros.dtypes

Año                            int64
Mes                           object
Nacionalidad                  object
Codigo Iso 3166                int64
Femenino                       int64
Masculino                      int64
Indefinido                   float64
Total                          int64
Latitud - Longitud            object
Ciudad                        object
Continente                    object
Latitud                       object
Longitud                      object
Mes#                          object
Año#                          object
Fecha                 datetime64[ns]
dtype: object

#Complejitud

In [44]:
for col in df_extranjeros.columns:
    num_missing = df_extranjeros[col].isnull().sum()
    pct_missing = np.mean(df_extranjeros[col].isnull())
    #print(col," - ",round(pct_missing*100, 2),"% - ",num_missing)
    print('{} - {}% - {}'.format(col,round(pct_missing*100, 2),num_missing))

Año - 0.0% - 0
Mes - 0.0% - 0
Nacionalidad - 0.0% - 0
Codigo Iso 3166 - 0.0% - 0
Femenino - 0.0% - 0
Masculino - 0.0% - 0
Indefinido - 100.0% - 112293
Total - 0.0% - 0
Latitud - Longitud - 0.0% - 0
Ciudad - 0.0% - 0
Continente - 0.0% - 0
Latitud - 0.0% - 0
Longitud - 0.0% - 0
Mes# - 0.0% - 0
Año# - 0.0% - 0
Fecha - 0.0% - 0

In [ ]:
df_extranjeros=df_extranjeros.drop(["Indefinido","Latitud - Longitud","Mes#","Año#"], axis=1);df_extranjeros

In [48]:
df_extranjeros

,Año,Mes,Nacionalidad,Codigo Iso 3166,Femenino,Masculino,Total,Ciudad,Continente,Latitud,Longitud,Fecha
0,2012,Enero,Islas Alboran y Perejil,99999,1,0,1,Bogotá,EUROPA,4.697144,-74.140516,2012-01-01
1,2012,Enero,Albania,8,1,2,3,Bogotá,EUROPA,4.697144,-74.140516,2012-01-01
2,2012,Enero,Alemania,276,11,16,27,Leticia,EUROPA,-4.197703,-69.941278,2012-01-01
3,2012,Enero,Alemania,276,1,1,2,Pasto,EUROPA,0.25129,-76.875963,2012-01-01
4,2012,Enero,Alemania,276,63,102,165,Pasto,EUROPA,0.814836,-77.662532,2012-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...
112288,2021,Diciembre,Anguila/Territorio Británico de Ultramar,660,0,1,1,Cali,América Central,3.541112,-76.384584,2021-12-01
112289,2021,Diciembre,Anguila/Territorio Británico de Ultramar,660,1,1,2,Bogotá,América Central,4.697144,-74.140516,2021-12-01
112290,2021,Diciembre,Islas Turcas y Caicos/Territorio Británico de ...,796,0,2,2,Cartagena,América Central,10.445761,-75.516429,2021-12-01
112291,2021,Diciembre,Desconocido,99999,31,41,72,Bogotá,Desconocido,4.697144,-74.140516,2021-12-01
112292,2021,Diciembre,Desconocido,99999,0,2,2,Cúcuta,Desconocido,7.818934,-72.453226,2021-12-01

#Coherencia

### *Datos duplicados*

In [49]:
df_extranjeros_C = df_extranjeros
df_extranjeros_C[df_extranjeros_C.duplicated()]

Empty DataFrame
Columns: [Año, Mes, Nacionalidad, Codigo Iso 3166, Femenino, Masculino, Total, Ciudad, Continente, Latitud, Longitud, Fecha]
Index: []

# *Consistencia de datos categoricos*

In [50]:
df_extranjeros_C["Nacionalidad"].value_counts()

Venezuela                                                   2601
España                                                      2259
Ecuador                                                     2239
Estados Unidos de America                                   2208
Francia                                                     2136
                                                            ...
Islas Pitcairn/Territorio Britanico de Ultramar                1
Polinesia Francesa/Colectividad de Ultramar Francesa           1
Islas Midway/Territorio no incorporado de Estados Unidos       1
Papua Occidental                                               1
San Martín (Países Bajos)                                      1
Name: Nacionalidad, Length: 300, dtype: int64

In [51]:
df_extranjeros_C["Año"].value_counts()

2019    13553
2018    13443
2017    13133
2016    12228
2015    12216
2014    11668
2013    11221
2012    11052
2021     8345
2020     5434
Name: Año, dtype: int64

In [55]:
df_extranjeros_C["Mes"].value_counts()

Diciembre     10242
Enero         10149
Febrero        9808
Noviembre      9789
Marzo          9671
Octubre        9263
Julio          9246
Agosto         9059
Septiembre     8943
Abril          8734
Junio          8734
Mayo           8655
Name: Mes, dtype: int64

In [53]:
df_extranjeros_C["Continente"].value_counts()

EUROPA               42504
América del Sur      17957
América Central      16576
ASIA                 16418
América del Norte     8179
AFRICA                6970
OCEANIA               3028
Desconocido            538
Refugiado               68
Antartida               55
Name: Continente, dtype: int64

In [56]:
df_extranjeros_C["Ciudad"].value_counts()

Bogotá               17369
Cartagena            16627
Medellin             11006
Cali                  9055
Pasto                 8588
Soledad               6998
Cúcuta                5759
San Andres            5370
Leticia               5096
Pereira               4197
Maicao                3593
Lebrija               3334
Acandí                2899
Santa Marta           2479
Armenia               1835
San Cayetano          1662
Barranquilla          1309
Buenaventura           952
Puerto Santander       876
Tumaco                 718
Coveñas                613
Puerto Carreño         591
Inírida                228
Riohacha               210
Bahía Solano           193
Apartadó               162
Cumbal                 144
Jurado                 144
Putumayo               112
Rionegro                55
Valledupar              49
Uribia                  38
NoAplica,NoAplica       14
Villavicencio            7
Nilo                     7
Chachagüí                2
Neiva                    2
Name: Ciudad, dtype: int64

### *Consistencia de datos cuantitativos

In [57]:
df_extranjeros_C["Femenino"].describe()

count    112293.000000
mean         91.231493
std         685.712820
min           0.000000
25%           0.000000
50%           2.000000
75%           9.000000
max       39500.000000
Name: Femenino, dtype: float64

In [58]:
df_extranjeros_C[df_extranjeros_C['Femenino'] == 39500]

,Año,Mes,Nacionalidad,Codigo Iso 3166,Femenino,Masculino,Total,Ciudad,Continente,Latitud,Longitud,Fecha
93990,2019,Agosto,Venezuela,862,39500,29907,69408,Cúcuta,América del Sur,7.818934,-72.453226,2019-08-01

In [59]:
df_extranjeros_C["Masculino"].describe()

count    112293.000000
mean        128.504261
std         866.120109
min           0.000000
25%           1.000000
50%           3.000000
75%          17.000000
max       48041.000000
Name: Masculino, dtype: float64

In [60]:
df_extranjeros_C[df_extranjeros_C['Masculino'] == 48041]

,Año,Mes,Nacionalidad,Codigo Iso 3166,Femenino,Masculino,Total,Ciudad,Continente,Latitud,Longitud,Fecha
73778,2018,Febrero,Venezuela,862,34568,48041,82609,Cúcuta,América del Sur,7.818934,-72.453226,2018-02-01

In [61]:
df_extranjeros_C["Total"].describe()

count    112293.000000
mean        219.743056
std        1536.304890
min           1.000000
25%           2.000000
50%           5.000000
75%          26.000000
max       82609.000000
Name: Total, dtype: float64

In [62]:
df_extranjeros_C[df_extranjeros_C['Total'] == 82609]

,Año,Mes,Nacionalidad,Codigo Iso 3166,Femenino,Masculino,Total,Ciudad,Continente,Latitud,Longitud,Fecha
73778,2018,Febrero,Venezuela,862,34568,48041,82609,Cúcuta,América del Sur,7.818934,-72.453226,2018-02-01

#Finalmente exportamos la base final

In [ ]:
df_extranjeros_C.to_csv("df_extranjeros_2.csv")